<% provide(:title, 'All points') %>

<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-points">
      <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan="3"></th>
        <th rowspan="3"></th>
        <th rowspan="3">拠点名</th>
        <th colspan="8">拠点番号</th>
        <th colspan="5">勤怠種類</th>
      </tr>
      </thead>
      <tbody>
        <% @points.each do |point| %>
        <tr>
        <th><%= link_to "拠点情報修正","#", class: "btn btn-primary" %></th>
        <th><%= link_to "削除","#", class: "btn btn-primary" %></th>
        <th><%= point.point_number %></th>
        <th colspan="8"><%= point.point_name %></th>
        <th colspan="5"><%= point.attendance_type %></th>
        <tr>
        <% end %>
      </tbody>
  </table>
   <td><%= link_to "拠点情報追加", points_new_path , class: "btn btn-primary" %></td>
</div>